apiVersion: v1
kind: Namespace
metadata:
  name: student-companion
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-backend-deployment
  name: student-companion-backend-deployment
  namespace: student-companion
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: student-companion-backend-deployment
  template:
    metadata:
      annotations:
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: student-companion-backend-deployment
    spec:
      nodeSelector:
        kubernetes.io/hostname: g2-r1-2
      containers:
        - env:
            - name: EMBEDDING_SERVER_HOST_IP
              value: student-companion-tei-embedding-deployment
            - name: EMBEDDING_SERVER_PORT
              value: "6020"
            - name: http_proxy
              value: http://proxy-dmz.intel.com:912
            - name: https_proxy
              value: http://proxy-dmz.intel.com:912
            - name: HTTPS_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: HTTP_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: LLM_MODEL
              value: meta-llama/Meta-Llama-3.1-8B-Instruct
            - name: LLM_SERVER_HOST_IP
              value: student-companion-groq-deployment
            - name: LLM_SERVER_PORT
              value: "5020"
            - name: LOGFLAG
              value: "true"
            - name: MEGA_SERVICE_HOST_IP
              value: student-companion-backend-deployment
            - name: MEGA_SERVICE_PORT
              value: "9001"
            - name: MONGO_HOST
              value: student-companion-mongodb-deployment
            - name: MONGO_PORT
              value: "27027"
            - name: RERANK_SERVER_HOST_IP
              value: student-companion-tei-reranking-deployment
            - name: RERANK_SERVER_PORT
              value: "8820"
            - name: RETRIEVER_SERVICE_HOST_IP
              value: student-companion-retriever-deployment
            - name: RETRIEVER_SERVICE_PORT
              value: "5021"
            - name: no_proxy
              value: 127.0.0.1,localhost,.intel.com,student-companion-tei-embedding-deployment,student-companion-groq-deployment,student-companion-backend-deployment,student-companion-mongodb-deployment,student-companion-tei-reranking-deployment,student-companion-retriever-deployment
          image: ervin0307/backend:latest
          imagePullPolicy: Always
          name: student-companion-backend-container
          ports:
            - containerPort: 9001
              protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-backend-deployment
  name: student-companion-backend-deployment
  namespace: student-companion
spec:
  type: NodePort
  ports:
    - name: "5022"
      port: 5022
      protocol: TCP
      targetPort: 9001
      nodePort: 31100
  selector:
    io.kompose.service: student-companion-backend-deployment