apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-groq-deployment
  name: student-companion-groq-deployment
  namespace: student-companion
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: student-companion-groq-deployment
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: student-companion-groq-deployment
    spec:
      nodeSelector:
        kubernetes.io/hostname: g2-r1-2
      containers:
        - env:
            - name: GROQ_API_KEY
              value:
            - name: HTTPS_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: HTTP_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: http_proxy
              value: http://proxy-dmz.intel.com:912
            - name: https_proxy
              value: http://proxy-dmz.intel.com:912
            - name: no_proxy
              value: 127.0.0.1,localhost,.intel.com
          image: ervin0307/groq:latest
          name: student-companion-groq-container
          ports:
            - containerPort: 8000
              protocol: TCP
          volumeMounts:
            - mountPath: ~/.cache/huggingface/hub
              name: student-companion-tei-reranking-claim0
      restartPolicy: Always
      volumes:
        - name: student-companion-tei-reranking-claim0
          hostPath:
            path: /mnt/hf_cache
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-groq-deployment
  name: student-companion-groq-deployment
  namespace: student-companion
spec:
  type: ClusterIP
  ports:
    - name: "5020"
      port: 5020
      protocol: TCP
      targetPort: 8000
  selector:
    io.kompose.service: student-companion-groq-deployment
