apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-mongodb-deployment
  name: student-companion-mongodb-deployment
  namespace: student-companion
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: student-companion-mongodb-deployment
  template:
    metadata:
      annotations:
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: student-companion-mongodb-deployment
    spec:
      nodeSelector:
        kubernetes.io/hostname: g2-r1-2
      containers:
        - image: mongo
          name: student-companion-mongodb-container
          ports:
            - containerPort: 27017
              protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: student-companion-mongodb-deployment
  name: student-companion-mongodb-deployment
  namespace: student-companion
spec:
  type: ClusterIP
  ports:
    - name: "27027"
      port: 27027
      protocol: TCP
      targetPort: 27017
  selector:
    io.kompose.service: student-companion-mongodb-deployment