apiVersion: v1
kind: Namespace
metadata:
  name: research-assistant
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: research-assistant-backend-deployment
  name: research-assistant-backend-deployment
  namespace: research-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: research-assistant-backend-deployment
  template:
    metadata:
      annotations:
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: research-assistant-backend-deployment
    spec:
      nodeSelector:
        kubernetes.io/hostname: g2-r1-2
      containers:
        - env:
            - name: EMBEDDING_SERVER_HOST_IP
              value: research-assistant-tei-embedding-deployment
            - name: EMBEDDING_SERVER_PORT
              value: "6020"
            - name: http_proxy
              value: http://proxy-dmz.intel.com:912
            - name: https_proxy
              value: http://proxy-dmz.intel.com:912
            - name: HTTPS_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: HTTP_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: LLM_MODEL_ID
              value: meta-llama/Meta-Llama-3.1-8B-Instruct
            - name: LLM_SERVER_HOST_IP
              value: g2-r2-2.iind.intel.com
            - name: LLM_SERVER_PORT
              value: "31800"
            - name: LOGFLAG
              value: "true"
            - name: MEGA_SERVICE_HOST_IP
              value: research-assistant-backend-deployment
            - name: MEGA_SERVICE_PORT
              value: "9001"
            - name: MONGO_HOST
              value: research-assistant-mongodb-deployment
            - name: MONGO_PORT
              value: "27027"
            - name: RERANK_SERVER_HOST_IP
              value: research-assistant-tei-reranking-deployment
            - name: RERANK_SERVER_PORT
              value: "8820"
            - name: RETRIEVER_SERVICE_HOST_IP
              value: research-assistant-retriever-deployment
            - name: RETRIEVER_SERVICE_PORT
              value: "7000"
            - name: WHISPER_SERVICE_HOST_IP
              value: research-assistant-whisper-deployment
            - name: no_proxy
              value: 127.0.0.1,localhost,.intel.com,g2-r2-2.iind.intel.com,research-assistant-tei-embedding-deployment,research-assistant-backend-deployment,research-assistant-mongodb-deployment,research-assistant-tei-reranking-deployment,research-assistant-retriever-deployment,research-assistant-whisper-deployment
          image: navchetna/research-backend:latest
          imagePullPolicy: Always
          name: research-assistant-backend-container
          ports:
            - containerPort: 9001
              protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: research-assistant-backend-deployment
  name: research-assistant-backend-deployment
  namespace: research-assistant
spec:
  type: NodePort
  ports:
    - port: 9001
      protocol: TCP
      targetPort: 9001
      nodePort: 30100
  selector:
    io.kompose.service: research-assistant-backend-deployment