apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: research-assistant-retriever-deployment
  name: research-assistant-retriever-deployment
  namespace: research-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: research-assistant-retriever-deployment
  template:
    metadata:
      annotations:
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: research-assistant-retriever-deployment
    spec:
      nodeSelector:
        kubernetes.io/hostname: g2-r1-2
      containers:
        - env:
            - name: http_proxy
              value: http://proxy-dmz.intel.com:912
            - name: https_proxy
              value: http://proxy-dmz.intel.com:912
            - name: HTTPS_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: HTTP_PROXY
              value: http://proxy-dmz.intel.com:912
            - name: HUGGINGFACEHUB_API_TOKEN
              value: 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
            - name: INDEX_NAME
              value: rag-redis
            - name: REDIS_URL
              value: redis://research-assistant-redis-deployment:6321
            - name: TEI_EMBEDDING_ENDPOINT
              value: http://research-assistant-tei-embedding-deployment:6010
            - name: no_proxy
              value: 127.0.0.1,localhost,.intel.com,research-assistant-redis-deployment,research-assistant-tei-embedding-deployment
          image: ervin0307/retriever:latest
          name: research-assistant-retriever-container
          ports:
            - containerPort: 7000
              protocol: TCP
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: research-assistant-retriever-deployment
  name: research-assistant-retriever-deployment
  namespace: research-assistant
spec:
  type: NodePort
  ports:
    - name: "5021"
      port: 5021
      protocol: TCP
      targetPort: 7000
      nodePort: 30105
  selector:
    io.kompose.service: research-assistant-retriever-deployment